<div class="buttons">
    <div class="pull-right">
    	<button type="button" class="btn btn-primary" id="button_pay" onclick="payop()">{{ button_pay }}</button>
    </div>
</div>
<script>
	function payop() {
		$('#button_pay').addClass('disabled');
		$.get('{{ payop_url }}')
			.done(function(data) {
	    		if (data.errors.length > 0)
	    			alert(data.errors[0].message)
	    		else
	    			window.location.href = data.data.redirectUrl;	    		    			    		    			    		
	    	})
	    	.always(function() {
			    $('#button_pay').removeClass('disabled');
			});
	}
</script>
