<div class="buttons">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" id="button_pay" onclick="payop()">{{ button_pay }}</button>
    </div>
</div>
<script>
    function payop() {
        $('#button_pay').addClass('disabled');
        $.get('{{ payop_url }}')
            .done(function(data) {
                window.location.href = data;
            })
            .always(function() {
                $('#button_pay').removeClass('disabled');
            });
    }
</script>